.loginBody {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(135deg, #042551, #093a6c, #3b6090, #7aac9d, #5b9b88);
	background-size: 500%;
	animation: fanimado 10s infinite;

	.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
		color: white !important;
		text-shadow: 1px 1px 1px black !important;
	}

	.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
		color: white !important;
		text-shadow: 1px 1px 1px black !important;
	}

	.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root {
		color: rgba(255, 255, 255, 0.6) !important;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5) !important;
	}

	.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root.Mui-error {
		.css-wgai2y-MuiFormLabel-asterisk.Mui-error {
			color: rgba(255, 255, 255, 0.6) !important;
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5) !important;
		}
	}

	.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
		color: rgba(255, 255, 255, 0.6) !important;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5) !important;

		.css-wgai2y-MuiFormLabel-asterisk.Mui-error {
			color: rgba(255, 255, 255, 0.6) !important;
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5) !important;
		}
	}

	.css-wgai2y-MuiFormLabel-asterisk.Mui-error {
		color: rgba(255, 255, 255) !important;
		text-shadow: 1px 1px 1px rgba(0, 0, 0) !important;
	}

	.css-wgai2y-MuiFormLabel-asterisk.Mui-error:after {
		color: rgba(255, 255, 255, 0.6) !important;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5) !important;
	}

	.css-1d1r5q-MuiFormHelperText-root.Mui-error {
		color: rgba(255, 0, 0, 0.6) !important;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5) !important;
	}

	.css-1a1fmpi-MuiInputBase-root-MuiInput-root:before {
		border-bottom: 1px solid white !important;
		box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.6) !important;
	}

	.css-1a1fmpi-MuiInputBase-root-MuiInput-root:after {
		border-bottom: 1px solid white !important;
		box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2) !important;
	}

	.css-1x51dt5-MuiInputBase-input-MuiInput-input {
		color: white !important;
		text-shadow: 1px 1px 1px black !important;
	}
}

@keyframes fanimado {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.contenedor {
	background-color: rgba(255, 255, 255, 0.15) !important;
	color: rgba(255, 255, 255);
}

.title {
	text-shadow: 1px 1px 1px black;
	margin-right: 20px;
}

.loginButton {
	background: linear-gradient(to right, rgb(255, 195, 113), rgb(255, 95, 109));
	transition: all 0.3s cubic-bezier(0.47, 1.64, 0.41, 0.8) 0s !important;

	margin-top: 20% !important;
	margin-bottom: 20% !important;

	text-shadow: 1px 1px 1px black !important;
	font-weight: bold !important;
	color: white !important;
}

.loginButton:hover {
	transform: scale(1.1);
}

.loadingButton {
	background: linear-gradient(to right, rgba(255, 196, 113, 0.7), rgb(255, 95, 109, 0.7));

	height: 36.5px;
	width: 114.512px;

	margin-top: 20% !important;
	margin-bottom: 20% !important;
	padding: 0% !important;
}

.loginLogo {
	color: white !important;
	width: 70px;
	height: 70px;
	padding: 20px !important;
	filter: drop-shadow(1px 1px 1px black);
	text-shadow: 1px 1px 1px black !important;
}

.formHeader {
	display: flex;
	align-items: center;
	justify-content: center;
}
