.loginBody {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(135deg, #042551, #093a6c, #3b6090, #7aac9d, #f7e1d8, #f9a276, #f88645);
	background-size: 500%;
	animation: fanimado 10s infinite;
}

@keyframes fanimado {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.contenedor {
	background-color: rgba(255, 255, 255, 0.15) !important;
	color: rgba(255, 255, 255);
}

.title {
	text-shadow: 1px 1px 1px black;
	margin-right: 20px;
}

.loginButton {
	background: linear-gradient(to right, rgb(255, 195, 113), rgb(255, 95, 109));
	transition: all 0.3s cubic-bezier(0.47, 1.64, 0.41, 0.8) 0s !important;

	margin-top: 20% !important;
	margin-bottom: 20% !important;

	text-shadow: 1px 1px 1px black !important;
	font-weight: bold !important;
	color: white !important;
}

.loginButton:hover {
	transform: scale(1.1);
}

.loginLogo {
	color: white !important;
	width: 70px;
	height: 70px;
	padding: 20px !important;
	filter: drop-shadow(1px 1px 1px black);
	text-shadow: 1px 1px 1px black !important;
}

.formHeader {
	display: flex;
	align-items: center;
	justify-content: center;
}
