.payment-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.payment-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  height: 40px;
}

.discount-wrapper {
  width: 90%;
  height: 340px;
  margin: 5px 0;
}
