.create-student {
	width: 100%;
	height: 100%;
}

.file-drop-zone {
	width: 95%;
	height: 100%;

	padding: 20px;

	text-align: center;

	&:hover {
		cursor: pointer;
	}

	&--file-over {
		background: #8bbae8;
		color: white;
	}
}

.preview-table {
	width: 95%;
}
