.tooltip-text-container {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.teachers-wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.teachers-container {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
