.infoCardContainers {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
	grid-template-rows: repeat(auto-fit, minmax(400px, 1fr));
	place-items: stretch stretch;
	gap: 20px;

	padding: 20px;

	label,
	input {
		color: black;
		-webkit-text-fill-color: black !important;
	}
}
