.administrative-info {
  display: flex;
  flex-direction: row;
  place-items: center;
  justify-content: space-between;

  overflow: scroll;
  overflow-y: auto;

  .form-container {
    width: 30%;
    padding-left: 30px;
  }

  .document-download-container {
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
    align-items: center;

    .document-download {
      color: rgba(0, 0, 0, 0.38);
    }
  }

  .payment-details-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;

    .payment-method-container {
      width: 90%;
      height: 250px;
      margin: 10px 0;
    }

    .payment-content {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .payment-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding-left: 10px;
      padding-right: 10px;
      height: 40px;
    }

    .discount-wrapper {
      width: 90%;
      height: 300px;
      margin: 10px 0;
    }
  }
}

.payment-method-modal-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.payment-method-modal-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 60%;
}

.discount-container-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.discount-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
}

.resolution-document {
  display: flex;
  align-self: center;
  padding-top: 8px;
}

.discount-type-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 10px;
  width: 80%;
  align-self: center;
}

.validity-container {
  display: flex;
  flex-direction: column;
  padding: 0 0 10px 10px;
}

.validity-dates-container {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}

.discount-history {
  height: 200px;
}